<a href="https://colab.research.google.com/github/Imudaypamu/Python/blob/main/Demon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

**Python**

> 


Python is an Interpreted, object-oriented, and high-level programming language. It is called an interpreted language as its source code is compiled to bytecode which is then interpreted. CPython usually compiles Python code to bytecode before interpreting it.

**History**


Python is a widely-used general-purpose, high-level programming language. It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code.

In the late 1980s, history was about to be written. It was that time when working on Python started. Soon after that, Guido Van Rossum began doing its application-based work in December of 1989 at Centrum Wiskunde & Informatica (CWI) which is situated in the Netherlands. It was started firstly as a hobby project because he was looking for an interesting project to keep him occupied during Christmas. The programming language in which Python is said to have succeeded is ABC Programming Language, which had interfacing with the Amoeba Operating System and had the feature of exception handling. He had already helped to create ABC earlier in his career and he had seen some issues with ABC but liked most of the features. After that what he did was really very clever. He had taken the syntax of ABC, and some of its good features. It came with a lot of complaints too, so he fixed those issues completely and had created a good scripting language that had removed all the flaws. The inspiration for the name came from BBC’s TV Show – ‘Monty Python’s Flying Circus’, as he was a big fan of the TV show and also he wanted a short, unique and slightly mysterious name for his invention and hence he named it Python! He was the “Benevolent dictator for life” (BDFL) until he stepped down from the position as the leader on 12th July 2018. For quite some time he used to work for Google, but currently, he is working at Dropbox.

Python Features and Advantages
* Easy to Code. Python is a very high-level programming language, yet it is 
* effortless to learn. ...
* Easy to Read. Python code looks like simple English words. ...
* Free and Open-Source. ...
* Robust Standard Library. ...
* Interpreted. ...
* Portable. ...
* Object-Oriented and Procedure-Oriented. ...
* Extensible.

**How To Download**

* Go to Original Website [Python Click Here To Get IT](https://www.python.org/)
* Go to Downloads Section 
* Select Your Machine Type{Windows/mac/linux} --Ignore this Step--
* CLick on Download Latest Version
* After Downloading Click To Install it

Simple Inout Output Statements


```
Output - print,return
```



```
Input- input()
```

In [ ]:
#Display Using Print
print("Im Uday Kiran Pamu")

Im Uday Kiran Pamu

In [ ]:
#input method
n=input()
print(n)

uday
uday

# Variable Declartion and Memory Allocation

Variable declaration

a  =  10

Here a is an varibale with the value of 10

Rules
* Variable name should be started with lower case(as we define constant values with Upper case)
* Digits are allowed but not in the start
* _ is only special character that is allowed

In [ ]:
first_num=10
second_num=87
ans=first_num+second_num
print(ans)

97

Imp

We should know about 
* id 
* type


functions that are useful to know about the memory location and data type

In [ ]:
#example-1  ---(id)---

# * it will show the memory location of the data where it is stored
print(id(first_num),id(second_num))

#first_num,second_num are last variables that i have been used (above)

11256352 11258816

In [ ]:
#example-2  ---(id)---
a=100
print(id(a))

11259232

In [ ]:
#example-3 ---(type)---

# * it will dispaly what is the data type it is
print(a)
print(type(a))

100
<class 'int'>

In [ ]:
#example-4  ---both (id,type)
abc=124
print(abc)
print(type(abc))
print(id(abc))

124
<class 'int'>
11260000

OBJECT INTERING

object intering refers where same value is assinged to two different variables will store at same memory location

In [ ]:
#example
pamu=123
print(pamu)
uday=123
print(uday)
print(id(pamu),id(uday))

123
123
11259968 11259968

# Data Types

Supported Data Types
* **Numeric** ---  int,float,complex
* **Text**    ---  str
* **sequence**---  list,tupple,range
* **Mapping** ---  Dictionary

>List and Dictionary are Mutable Data Types


>Remaining all are immutable



```
# Mutable data types can be changed(add,update,delete etc)
#Immutable Data types that cant be changed forever
```

Numeric data types
* which deals with numbers

In [ ]:
#example for int
# just an integer is defined as int data type

a=12
print(a)
print(type(a))

12
<class 'int'>

In [ ]:
#example for float
# a decimal number is defined as float data type

a=12.33
print(a)
print(type(a))

12.33
<class 'float'>

In [ ]:
#example for complex 
# contains real and image numbers


x=2
y=5
print(complex(x,y))

(2+5j)

String is a collection of Characters ,Where the Charavters are symbols

* String should be written in the Double,single and triple qoutes
 i.e " " ' '  ''' '''

In [ ]:
#example for string
str='facebook'
print(str)
a="instagram"
print(a)
b="""are owned by mark zukerberg"""
print(b)

facebook
instagram
are owned by mark zukerberg

In [ ]:
#example in some special cases
x="Dr.strange was produced and directed by 'Marvel Studios'"
print(x)

Dr.strange was produced and directed by 'Marvel Studios'

Sequence Data Types
* List
* Tupple
* Range

In [ ]:
#example for list
list = ["apple", "banana", "cherry", "apple", "cherry"]
print(list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
#example for tuple
tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

In [ ]:
#example for range
a=range(10)
for n in a:
  print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Difference between immutable and Mutable Examples
* With Int vs List

In [ ]:
#Exampple with Integer

int=100
print(id(int))
int=105
print(id(int))
print("Here first Variable Int Stored the Value at",id(int),"But here the same Int variable stored another value at different Memory Location")

11259232
11259392
Here first Variable Int Stored the Value at 11259392 But here the same Int variable stored another value at different Memory Location

In [ ]:
#Example with List 
list=["banana","apple","cherry"]
print(list)
print(id(list))
#After the Operation of append
list.append("Mango")
print(list)
print(id(list))

['banana', 'apple', 'cherry']
140573982802880
['banana', 'apple', 'cherry', 'Mango']
140573982802880

Here in above two code examples we used int and list
* Int
  - same variable after modification or changing it will store at fresh location
  - which is not allowed 
*List 
  - Same variable will store the value at one memory location even after changing r modification
  - which is allowed


**- Immutable Data Types which are Cant changed are Modified they are all Excluding List and Dictionary**

**- Mutable Data Types which are Can changed are Modified they are  List and Dictionary**

# Operators

There are different operators supported by python they are
* Arithmetic operators - {+,  -,  * ,  /  ,   //  ,   %    ,   **}
* Comparison Operators - {<,  > , <= , >=, == , !=}
* Identity { is and is not }
* Assignment Operators 
* Bitwise Operators
* Logical Operators

In [ ]:
#Examples for Arithmetic Operators
num1 = 10
num2 = 15
#Addition
print("Addition: ",num1+num2)
#Subtraction
print("Sub: ",num1-num2)
#Multiplication
print("Mul: ",num1*num2)
#Division (float)
print("Div Float: ",num1/num2)
#Division (floor)
print("Div Floor: ",num1//num2)
#Moudles
print("Rem is", num1%num2)
#Power
print("Power: ",num1**num2)

Addition:  25
Sub:  -5
Mul:  150
Div Float:  0.6666666666666666
Div Floor:  0
Rem is 10
Power:  1000000000000000

In [ ]:

# Examples of Relational/Comparison Operators
a = 13
b = 33

# a > b is False
print(a > b)

# a < b is True
print(a < b)

# a == b is False
print(a == b)

# a != b is True
print(a != b)

# a >= b is False
print(a >= b)

# a <= b is True
print(a <= b)

False
True
False
True
False
True

In [ ]:
#example for is and is not
 #is          True if the operands are identical 
 #is not      True if the operands are not identical

a = 10
b = 20
c = a

#identical r not is depends upon the same memory location
print(a is not b)
print(a is c)
print(id(a))
print(id(b))
print(id(c))

True
True
11256352
11256672
11256352

In [ ]:
# Examples of Assignment Operators
a = 10

# Assign value
b = a
print(b)

# Add and assign value
b += a
print(b)

# Subtract and assign value
b -= a
print(b)

# multiply and assign
b *= a
print(b)

# bitwise lishift operator
b <<= a
print(b)

10
20
10
100
102400

In [ ]:
# Examples of Bitwise operators
a = 10
b = 4

# Print bitwise AND operation
print(a & b)

# Print bitwise OR operation
print(a | b)

# Print bitwise NOT operation
print(~a)

# print bitwise XOR operation
print(a ^ b)

# print bitwise right shift operation
print(a >> 2)

# print bitwise left shift operation
print(a << 2)

0
14
-11
14
2
40

In [ ]:
# Examples of Logical Operator
a = True
b = False

# Print a and b is False
print(a and b)

# Print a or b is True
print(a or b)

# Print not a is False
print(not a)

False
True
False

Opertors PRECEDENCE:
* P – Parentheses
* E – Exponentiation
* M – Multiplication     (Multiplication and division have the same precedence)
* D – Division
* A – Addition     (Addition and subtraction have the same precedence)
* S – Subtraction

# Conditional Statements

Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.



**Indentation**

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

**Else**

The else keyword catches anything which isn't caught by the preceding conditions.

**Elif**

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

if Statement Syntax

```
if test expression:
statement(s)

```

In [ ]:
#example for if statement
a = 5
if(a <10):
  print(" 5 is less than 10" )

 5 is less than 10

if-else Statement Syntax


```
if test expression:

  Body of if

else:

  Body of else
```

In [ ]:
i = 20;

if (i < 15):
  print("i is smaller than 15")

else:
  print("i is greater than 15")

i is greater than 15

Elif Statements


```
if test expression:
  Body of if
elif test expression:
  Body of elif
else:
  Body of else
```

In [ ]:
a = 50

if (a == 20):
  print ("value of variable a is 20")

elif (a == 30):
  print ("value of variable a is 30")

elif (a == 40):
  print ("value of variable a is 40")

else:
  print ("value of variable a is greater than 40")

value of variable a is greater than 40

Nested Elif Syntax



```
if test expression 1:
  # Executes when condition 1 is true
  body of if statement
     if test expression 2:
        # Executes when condition 2 is true
        Body of nested if
     else:
        body of nested if
else:
  body of if else statement
```

In [ ]:
a = 20
if (a == 20):
# First if statement
   if (a < 25):
     print ("a is smaller than 25")
   else:
     print ("a is greater than 25")
else:
  print ("a is not equal to 20")

a is smaller than 25

# Loops

Python programming language provides the following types of loops to handle looping requirements. Python provides three ways for executing the loops. While all the ways provide similar basic functionality, they differ in their syntax and condition checking time.

* While  
* For

While Loop Syntax
* While  
  - used to satisfy the condition when the number of iterations is unknown
  - Increment can be done before or after the execution of the statement(s).

Syntax

```
while expression:
    statement(s)
```

In [ ]:
# Python program to illustrate
# while loop
count = 0
while (count < 8):
	count = count + 1
	print("Hello Pamu")

Hello Pamu
Hello Pamu
Hello Pamu
Hello Pamu
Hello Pamu
Hello Pamu
Hello Pamu
Hello Pamu

For Loop Syntax
* For
  - used to obtain the result only when number of iterations is known.
  - Once the statement(s) is executed then after increment is done.
Syntax


```
for iterator_var in sequence:
    statements(s)
```

In [ ]:

n = 5
for i in range(0, n):
	print(i)

0
1
2
3
4

**Nested Loops:** 

Python programming language allows to use one loop inside another loop. Following section shows few examples to illustrate the concept. 
Syntax: 


```
for iterator_var in sequence:
	for iterator_var in sequence:
		statements(s)
		statements(s)

```



```
while expression:
	while expression:
		statement(s)
		statement(s)

```

In [ ]:
# Python program to illustrate
# nested for loops in Python
from __future__ import print_function
for i in range(1, 5):
	for j in range(i):
		print(i, end=' ')
	print()

1
2 2
3 3 3
4 4 4 4

**Loop Control Statements**: 

Loop control statements change execution from their normal sequence. When execution leaves a scope, all automatic objects that were created in that scope are destroyed. Python supports the following control statements. 

* Continue Statement: It returns the control to the beginning of the loop.
* Break Statement: It brings control out of the loop

In [ ]:
# Prints all letters except 'e' and 's'
for letter in 'udaykiranpamu':
	if letter == 'e' or letter == 's':
		continue
	print('Current Letter :', letter)
	var = 10

Current Letter : u
Current Letter : d
Current Letter : a
Current Letter : y
Current Letter : k
Current Letter : i
Current Letter : r
Current Letter : a
Current Letter : n
Current Letter : p
Current Letter : a
Current Letter : m
Current Letter : u

In [ ]:
for letter in 'pamu':

	# break the loop as soon it sees 'e'
	# or 's'
	if letter == 'e' or letter == 's':
		break

print('Current Letter :', letter)

Current Letter : u

In [10]:
#Linear Search 
l1=[10,23,29,15,1,5,6,89,78]
key=int(input("Enter the value to search \t"))
for index,value in enumerate(l1):
  if value == key:
    print("Element Found At Index",index)
    break
  else:
    continue
else:
      print("element not Found")

Enter the value to search 	10
Element Found At Index 0

# Strings

* Strings are Immutable 
* String is Ordered Data Structure

In [30]:
#Indexing
str1="its  my birthday"
print(str1[2])
print(str1[-16])

s
i

* Slicing
  - We can perform this operation from both sides 
  - i.e Left to Right or Right to Left

In [28]:
str1="its  my birthday"
print(str1[2:10])
print(str1[1])
print(str1[0:16])
print(str1[-18:-1])

s  my bi
t
its  my birthday
its  my birthda

Format method

In [33]:
str1 = "Uday"
str2 = "Kiran"
str3 ="Pamu"
print("My First Name is {} and Middle Name is {}  Last Name is {} ".format(str1,str3,str2))
print("My First Name is {a} and Middle Name is {b}  Last Name is {c} ".format(a=str1,c=str3,b=str2))

My First Name is Uday and Middle Name is Pamu  Last Name is Kiran
My First Name is Uday and Middle Name is Kiran  Last Name is Pamu

In [51]:
#Upper Case
s="chinni"
print(s.isupper()) #Optional for Understanding Purpose only ,Checking before upper case
s2=s.upper() #optional 
print(s2) #optional after using upper case
print(s2.isupper()) #optional


print(s.upper())

False
CHINNI
True
CHINNI

In [42]:
#Lower Case
s2="CHINNI"
print(s2.islower())
# Here im checking the string is lower case r not(optional)
print(s2.lower())

False
chinni

In [56]:
#Split
s3 = "HTML,JAVA,PYTHON,CSS,NODEJS"
s4 = "HTML JAVA PYTHON CSS NODEJS"
print(s3.split(",")) #split by comma
print(s4.split(" ")) #split by sapce

['HTML', 'JAVA', 'PYTHON', 'CSS', 'NODEJS']
['HTML', 'JAVA', 'PYTHON', 'CSS', 'NODEJS']

In [67]:
#Find 
s5 = "BUY ME A COFFEE"
print(s5.rfind("C"))
print(s5.find("C"))

9
9

In [76]:
#strip
s6 = "IMKIRAN"
print(s6.strip("IM"))

KIRAN

In [80]:
#center
s7 = "PAMU"
print(s7.center(20,"."))
print(s7.rjust(20,".")) #optional
print(s7.ljust(20,".")) #optional

........PAMU........
................PAMU
PAMU................

In [81]:
#replace
s8 = "UDEY KIREN PEMU"
print(s8.replace("E","A"))

UDAY KIRAN PAMU

# List

* Lists are Mutable
* Supports Add,Update and  Delete
* Oredered,slicing and indexing
* is heterogeneous datatype

In [87]:
list1 =[10,20,30,40, "UDAY","PAMU",]
print(list1, type(list1))

[10, 20, 30, 40, 'UDAY', 'PAMU'] <class 'list'>

In [88]:
#List Indexing
list1 =[10,20,30,40, "UDAY","PAMU",]
print(list1[3])

40

In [100]:
#List Slicing
print(list1[1:3])
print(list1[0:5])

[20, 30]
[10, 20, 30, 40, 'UDAY']

In [109]:
#Append
list1 =[10,20,30,40, "UDAY","PAMU",]
list1.append("KIRAN")
print(list1)

[10, 20, 30, 40, 'UDAY', 'PAMU', 'KIRAN']

In [158]:
#extend
list1 =[10,20,30,40, "UDAY","PAMU",]
list1.extend("KIRAN")
list2=[50,60,70,]
list1.extend(list2)
print(list1)

[10, 20, 30, 40, 'UDAY', 'PAMU', 'K', 'I', 'R', 'A', 'N', 50, 60, 70]

** EXTEND vs APPEND **
* Append will only append or add one element to the list at one time
* Extend will help to add multiple elements to the list at one time
* if we give extend operation of an string it will divde and extend by single char

In [121]:
#insert
#at once only we can add one element
list1 =[10,20,30,40, "UDAY","PAMU",]
list1.insert(4,50)
print(list1)

[10, 20, 30, 40, 50, 'UDAY', 'PAMU']

In [126]:
#Reverse
list1 =[10,20,30,40, "UDAY","PAMU",]
list1.reverse()
print(list1)

['PAMU', 'UDAY', 40, 30, 20, 10]

In [127]:
#Cheching mutablitie of List
list1 =[10,20,30,40, "UDAY","PAMU",]
print(id(list1))
list1.append(50)
print(id(list1))
print("before and after the append operation over the list will result the same memory location")

140069752406816
140069752406816
before and after the append operation over the list will result the same memory location

In [139]:
list1 =[10,20,30,40, "UDAY","PAMU",]

#Pop
list1.pop()
print("Pop will remove the Last Elm in the List : ",list1)
#Remove
list1.remove(20)
print("Remove will remove the Particular Elm in the List : ",list1)
#clear
list1.clear()
print("Clear will remove the Entire Elms in the List : ",list1)
#delete
del list1
print("Output will be an error called list not found if we try to print list1")

Pop will remove the Last Elm in the List :  [10, 20, 30, 40, 'UDAY']
Remove will remove the Particular Elm in the List :  [10, 30, 40, 'UDAY']
Clear will remove the Entire Elms in the List :  []
Output will be an error called list not found if we try to print list1

In [140]:
list1=[1,2,3]
list2=[4,5,6]
print(list1+list2)

[1, 2, 3, 4, 5, 6]

# Tuple

**Tuple**
* is a immutable data structure
* will contains only Index and count methods
* ordered by indexing

In [151]:
t=(1,2,3,4,4,4,5,6)
print(t,type(t))

(1, 2, 3, 4, 4, 4, 5, 6) <class 'tuple'>

In [152]:
#indexing
print(t[2])
print(t.index(6))

3
7

In [153]:
#slicing
print(t[:5])

(1, 2, 3, 4, 4)

In [154]:
#count
print(t.count(4))

3

In [155]:
#Converting Tuple to List
l=list(t)
print(l)

[1, 2, 3, 4, 4, 4, 5, 6]

# Dictionary

**Dictionary**
* Is a Mutable
* Unordered datastructure
* Keys Should be unique
* Keys Should be immutable

In [164]:
dict={"std_id":101,"Name":"Demon","Mobile":9701510453,"Email":"imudaykiranpamu@gmail.com"}
print(dict)

{'std_id': 101, 'Name': 'Demon', 'Mobile': 9701510453, 'Email': 'imudaykiranpamu@gmail.com'}

In [163]:
#Keys Should Be Unique proof:
dict={"std_id":101,"Name":"Demon","Mobile":9701510453,"Email":"imudaykiranpamu@gmail.com","Name":"Uday"}
#here i give two values for single Key Name
#result will be
print(dict)

{'std_id': 101, 'Name': 'Uday', 'Mobile': 9701510453, 'Email': 'imudaykiranpamu@gmail.com'}

In [166]:
#Update r add Operation
dict["Dept"] = "CSE"
print(dict)

{'std_id': 101, 'Name': 'Demon', 'Mobile': 9701510453, 'Email': 'imudaykiranpamu@gmail.com', 'Dept': 'CSE'}

In [170]:
#retriving By Key Id
print(dict["Mobile"])

9701510453

In [171]:
for x in dict:
  print(x)
  #will get only keys

std_id
Name
Mobile
Email
Dept

In [172]:
for t in dict.items():
  print(t)

('std_id', 101)
('Name', 'Demon')
('Mobile', 9701510453)
('Email', 'imudaykiranpamu@gmail.com')
('Dept', 'CSE')

In [178]:
#Creating Dictionary
d1=[1,2,3,4]
d=dict.fromkeys(d1,1)
print(d)

{1: 1, 2: 1, 3: 1, 4: 1}

In [182]:
#update
d2={5:2,6:3,7:4,8:5}
d.update(d2)
print(d)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 6: 3, 7: 4, 8: 5}

In [211]:
#Other Metods
#Pop Method
d={1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 6: 3, 7: 4, 8: 5}
r=d.pop(8)
print(d,r)
#pop item 
#willl remove last element
r=d.popitem()
print(d)
#clear
d.clear()
print(d)
#del
del d
print("Output will be an error called dict not found if we try to print d")

{1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 6: 3, 7: 4} 5
{1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 6: 3}
{}
Output will be an error called dict not found if we try to print d